/* Logout Button Style */
.logout-btn {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #f40612;
}
