.form {
    width: 300px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ccc;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  .form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
  }
  .form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form button:hover {
    background-color: #0056b3;
  }
  